:root {
  --text-shadow: 1px 1px 2px black;
  --box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --border-dot: 1px solid #333;

}

* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  background: #555;
  text-align: center;
  color: #fefefe;
}


h1, h2, h3, h4, p{
  margin:0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


article {
  border: 1px solid #333;
  border-top: none;
  width: 100%;
  margin:auto;
  margin-bottom: 0;  
  padding: 20px 0;
  background:rgba(1, 17, 13, 0.2);
  box-shadow: var(--box-shadow);
  
}

section {
  width: 90%;
  margin:auto;
  /* background:rgba(1, 17, 13, 0.7); */
  z-index: 1;
}
header {
  width: 100%;
  border: 1px solid #333;
  border-top: none;
  background:#333;
  position: fixed;
  z-index: 5;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
  background-size: 100%;
  background-position: center;
  filter:grayscale(100%) opacity(0.3);
}

#line--right{
  height: 100vh;
  width: 7%;
  position: absolute;
  right: -10px;
  border-left: var(--border-dot);
  z-index: 10;
  background:rgba(1, 17, 13, 0.8);
  
}

#line--left{
  height: 100vh;
  width: 7%;
  position: absolute;
  left: -10px; 
  border-right: var(--border-dot);
  z-index: 10;
  background:rgba(1, 17, 13, 0.8);

}

.navbar {
  top:0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:rgba(1, 17, 13, 0.2);
  color: #fefefe;
  border-bottom: var(--border-dot)
}

.gallery {
  background:rgba(90, 110, 119, 0.836)
}

.brand-title {
  font-size: 1.5rem;
  margin:.5rem;
}

.navbar-links ul{
  margin:0;
  padding:0;
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #fefefe;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background: #555;
}

/* Humberger menu */
.navbar-tab {
  position: absolute;
  top: .75rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
/* Three line in hunberger menu */
.navbar-tab .bar {
  height: 3px;
  width: 100%;
  background: #fefefe;
  border-radius: 10px;
}

#sectionh{
  /* position:fixed; */
  margin-bottom: 20px;
  height: 500px;
  background:rgba(1, 17, 13, 0.2);
  color: #fefefe;
  margin-bottom: 0;
  height:100vh;
}

.header-bg {
  background-image: url("image/galaxy.jpg");
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 500px;
  z-index: -1;
  filter: grayscale(40%);
  
}

#sectionh .grid {
  display: grid;
  padding: 25px;
  height: 500px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
  ". . . . . "
  "c-title c-title c-title c-title ."
  ". . c-text c-text c-text"
  ". . . . ."
  ". . . . ."
}

#sectionh h1, #sectionh p {
  margin: 0;
}

#sectionh .content-title { 
  text-shadow:var(--text-shadow) ;
  grid-area: c-title; 
  font-size: 1.5rem;
  margin:0;
  animation: slide-right 1s ease-in-out both; 
}



#sectionh .content-text {
  text-align: center;
  text-shadow: var(--text-shadow) ;
  grid-area: c-text ;
  margin: 0;
  font-size: 1.5rem;
  animation: slide-right 1s ease-in-out both;
}

#section1 {
  width: 90%;
  margin: auto;
}

#section1 .section-title {
  margin:10px;
  font-size: 1.5rem;
}


#section1 article img {
  width: 300px;
  margin: auto;
  order:2;
}

#section1 article p {
  width: 80%;
  margin: auto;
  text-align: center;
}


#section1 .flex {
  display: flex;
  margin: auto;
  width: 80%;
  border-radius: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  grid-template-rows: repeat(auto-fit, minmax(100px, max-content));
  justify-content: center;
  grid-gap: 20px;
}

#section1 .flex div {
  margin-bottom: 0;
}

#section1 .flex img {
  margin:0;
  margin-top: 30px;
  width: 100%;
  border-radius: .5rem;
  display: flex;
  animation: popup 700ms ease-in-out both;
}

@keyframes popup{
  0% {
    height: 0;
    transform: translateY(128px)
  }
  100% {
    height: 100%;
    transform: translateY(0)

  }
}

#section2 .grid {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 50px;
  margin:auto;
  padding: 20px;
  width: 100%;
}

.card {
  width:100%;
  margin: auto;
  /* margin-bottom: 50px; */
  padding: 50px;
  border: 2px solid #333;
  background: #222;
  color: #fefefe;
  transition: transform 250ms;
}

.card:hover {
  transform: scale(1.03) rotate(3deg)
}


#section3 {
  background:rgba(34, 100, 84, 0.404)
}


#section3 .slide-container {
  position: relative;
  min-height: 500px;
}

#section3 .section-main-image {
  position: absolute;
  width: 350px;
  right:0;
  animation: spin-in 1500ms ease-in-out both;
}

#section3 .gallery {
  background:rgba(1, 17, 13, 0.6);
}

#section3 .grid {
  display: grid;
  margin: 20px;
  padding: 10px;
  grid-gap: 10px;
  border: 1px solid #333;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}


#section3 .grid img:hover {
  border-radius: 10px;
  animation: pop-zoom 500ms ease-in-out both;
  z-index: 5;
}
#section3 .grid img {
  border-radius: 10px;

  animation: pop-zoom-out 500ms ease-in-out both;
}

@keyframes pop-zoom {
  0% {

  }
  80% {
    transform: scale(1.3);

  }
  100% {
    transform: scale(1.2);

  }
}
@keyframes pop-zoom-out {
  0% {
    transform: scale(1.2);
  }

  100% {

  }
}



@keyframes spin-in{
  0% {
    transform: rotate(45deg) translate(450px, 300px );
  }
  
 100% {
   transform:  translate(0, 0);
  }
}

#section3 .content-title {
  position: absolute;
  font-size: 3rem;
  top: 150px;
  left: 50px;
  z-index: 1;
  color: #333;
  text-shadow: var(--text-shadow);
  animation: slide-in-up 1500ms ease-in-out both;
}

@keyframes slide-in-up {
  
  0% {
    transform: translateY(50px);
    opacity: 0
  }
  20% {
    transform: translateY(50px);
    opacity: 0
  }
  100% {
    transform: translateY(0);
    opacity: 1
  }
}

#section4 {
  position: relative;
  height: 70vh;
  justify-content: center;
  text-align:center;
  z-index: 1;
}

#section4 .section-bg1, #section4 .section-bg2{
  min-height: 450px;
  position: absolute;
  width: 100%;
  margin: auto;
  background-size: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  z-index:1;
}


#section4 .section-bg1 {
  /* background-image: url("image/codes.jpg");  */
  opacity: 0.3 ;
  z-index:2;
  
}

#section4 .content-text{
  position: absolute;
  top: 50px;
  left: 20px;
  text-shadow: var(--text-shadow);
  z-index: 5;
  color: black;
}





@keyframes slide-right {
  0% {
    opacity:0;
    transform: translate(-20px, 0)
  }
  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}









@media (max-width: 700px) {
  .navbar-tab {
    display: flex;
  }

  
  /* Reposition .navbar ul for menu tab */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul{
    position: absolute;
    right: 1.5rem;
    background: #333;
    width: 10rem;
    flex-direction: column;
    border-radius: 3px;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a{
    padding: .5rem 1rem;
  }

  

  .navbar-links.display-none  ul{
    display: none;
  }
  .navbar-links.active  ul{
    display: flex;
    animation: roll-out 500ms ease-in-out both
  }
  .navbar-links.roll-in  ul{
    animation: roll-in 500ms ease-in-out both;    
  }
  


  
  @keyframes roll-out {
    0% {
      opacity: 0;
      height: 0;
    }
    100% {
      opacity: 1;
      height:100px;
    }
  }

  @keyframes roll-in {
    0% {
      opacity: 1;
      height: 100px;
    }
    100% {
      opacity: 0;
      height:0;
    }
  }
  
}

