:root {
  --text-shadow: 1px 1px 2px black;
  --box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --border-dot: 1px solid #333;

}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin:0;
  padding:0;
  background: #555;
  text-align: center;
  color: #fefefe;
}


h1, h2, h3, h4, p{
  margin:0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}


article {
  border: 1px solid #333;
  border-top: none;
  width: 100%;
  margin:auto;
  margin-bottom: 0;  
  padding: 20px 0;
  background:rgba(1, 17, 13, 0.2);
  box-shadow: var(--box-shadow);
  
}

section {
  width: 88%;
  margin:auto;
  /* padding:0 6%; */
  /* background:rgba(1, 17, 13, 0.7); */
  z-index: 1;
}
header {
  width: 100%;
  border: 1px solid #333;
  border-top: none;
  background:#333;
  position: fixed;
  z-index: 20;
}

.section-title {
  font-size: 2rem;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
  background-size: 100%;
  background-position: center;
  filter:grayscale(100%) opacity(0.3);
}


#line--right{
  height: 100vh;
  width: 7%;
  position: fixed;

  right: -10px;
  border-left: var(--border-dot);
  z-index: 10;
  background:rgba(1, 17, 13, 0.8);
  
}

#line--left{
  height: 100vh;
  width: 7%;
  position: fixed;
  left: -10px; 
  border-right: var(--border-dot);
  z-index: 10;
  background:rgba(1, 17, 13, 0.8);

}

.navbar {
  top:0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:rgba(1, 17, 13, 0.2);
  color: #fefefe;
  border-bottom: var(--border-dot);
  z-index: 15;
}

.gallery {
  background:rgba(90, 110, 119, 0.836)
}

.brand-title {
  font-size: 1.5rem;
  margin:.5rem;
}

.navbar-links ul{
  margin:0;
  padding:0;
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #fefefe;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background: #555;
}

/* Humberger menu */
.navbar-tab {
  position: absolute;
  top: .75rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
/* Three line in hunberger menu */
.navbar-tab .bar {
  height: 3px;
  width: 100%;
  background: #fefefe;
  border-radius: 10px;
}

#sectionh{
  /* position:fixed; */
  margin-bottom: 20px;
  background:rgba(1, 17, 13, 0.2);
  color: #fefefe;
  margin-bottom: 0;
  height:100vh;
}

.header-bg {
  background-image: url("image/galaxy.jpg");
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 500px;
  z-index: -1;
  filter: grayscale(40%);
  
}

#sectionh .grid {
  display: grid;
  padding: 25px;
  height: 500px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
  ". . . . . "
  "c-title c-title c-title c-title ."
  ". . c-text c-text c-text"
  ". . . . ."
  ". . . . ."
}

#sectionh h1, #sectionh p {
  margin: 0;
}

#sectionh .content-title { 
  text-shadow:var(--text-shadow) ;
  grid-area: c-title; 
  font-size: 1.5rem;
  margin:0;
  animation: slide-right 1s ease-in-out both; 
}



#sectionh .content-text {
  text-align: center;
  text-shadow: var(--text-shadow) ;
  grid-area: c-text ;
  margin: 0;
  font-size: 1.5rem;
  animation: slide-right 1s ease-in-out both;
}

#section1 {
  /* width: 89%; */
  padding-top: 20px;
  margin: auto;
  background:rgba(1, 17, 13, 0.6);
}


#section1 article {
  padding: 20px;
  width: 100%;
  background: none;
  box-shadow: none;
}


#section1 .section-title {
  font-size: 2rem;
}

#section1 article img {
  margin: auto;
  width: 60%;
  order:2;
}

#section1 article p {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}


#section1 .flex {
  display: flex;
  margin: auto;
  padding: 10px;
  width: 80%;
  border-radius: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  grid-template-rows: repeat(auto-fit, minmax(100px, max-content));
  justify-content: center;
  grid-gap: 20px;
}

#section1 .flex div {
  margin-bottom: 0;
}

#section1 .flex img {
  margin:0;
  margin-top: 5px;
  width: 100%;
  border-radius: .5rem;
  display: flex;
}

#section1 .tech-icons .js-scroll {
  display: none
}

#section1 .tech-icons .js-scroll.scrolled {
  animation: popup-icon 1000ms ease-in-out both;
  display: unset;
}



#section2 .grid {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 50px;
  margin:auto;
  padding: 20px;
  width: 100%;
}

.card {
  width:100%;
  margin: auto;
  /* margin-bottom: 50px; */
  padding: 50px;
  border: 2px solid #333;
  background: #222;
  color: #fefefe;
  transition: transform 250ms;
}

#section2  .card.js-scroll{
 display: none;
}

#section2 .card.js-scroll.scrolled {
  animation: spin-in 2s ease-in-out both;
  display: block;
}



.card:hover {
  transform: scale(1.03) rotate(3deg)
}


#section3 {
  background:rgba(34, 100, 84, 0.404)
}

#section3 .section-title {
  margin-top: 20px;
}

#section3 .slide-container {
  position: relative;
  min-height: 400px;
}

#section3 .section-main-image {
  position: absolute;
  width: 250px;
  right:0;
  animation: spin-in 1500ms ease-in-out both;
}

#section3 .content-title {
  position: absolute;
  font-size: 2rem;
  top: 70px;
  left: 5%;
  z-index: 1;
  color: #333;
  text-shadow: var(--text-shadow);
  animation: slide-in-up 1500ms ease-in-out both;
}



#section4 .gallery {
  background:rgba(1, 17, 13, 0.6);
  padding:20px;
}

#section4 .grid {
  display: grid;
  margin: 20px;
  padding: 10px;
  grid-gap: 10px;
  border: 1px solid #333;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}


#section4 .grid img:hover {
  border-radius: 10px;
  animation: pop-zoom 500ms ease-in-out both;
  z-index: 5;
}
#section4 .grid img {
  border-radius: 10px;
  animation: pop-zoom-out 500ms ease-in-out both;
}


#section5 {
  position: relative;
  height: 450px;
  justify-content: center;
  text-align:center;
  z-index: 1;
}

#section5 .section-bg1, #section5 .section-bg2{
  height: 450px;
  position: absolute;
  width: 100%;
  margin: auto;
  background-size: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  z-index:1;
}


#section5 .section-bg1 {
  /* background-image: url("image/codes.jpg");  */
  opacity: 0.3 ;
  z-index:2;
  
}

#section5 .content-text{
  position: absolute;
  top: 50px;
  left: 20px;
  text-shadow: var(--text-shadow);
  z-index: 5;
  color: black;
}

.main-footer {
  padding: 20px;
  background:rgba(34, 100, 84, 0.404);
}

.main-footer li a {
  color: #fefefe;
}


@keyframes roll-out {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height:100px;
  }
}

@keyframes roll-in {
  0% {
    opacity: 1;
    height: 100px;
  }
  100% {
    opacity: 0;
    height:0;
  }
}



@keyframes slide-right {
0% {
  opacity:0;
  transform: translate(-20px, 0)
}
100% {
  opacity: 1;
  transform: translate(0, 0)
}
}


@keyframes pop-zoom {
0% {

}
80% {
  transform: scale(1.3);

}
100% {
  transform: scale(1.2);

}
}
@keyframes pop-zoom-out {
0% {
  transform: scale(1.2);
}

100% {

}
}



@keyframes spin-in{
0% {

  transform: rotate(45deg) translate(450px, 300px );
}

/* 20% {
} */

100% {
 transform:  translate(0, 0);
 display:block;
}
}


@keyframes slide-in-up {

0% {
  transform: translateY(50px);
  opacity: 0
}
20% {
  transform: translateY(50px);
  opacity: 0
}
100% {
  transform: translateY(0);
  opacity: 1
}
}

@keyframes popup-icon{
0% {
  height: 0;
  width:0;
}
100% {
  height: 100%;
  width:100%;

}
}

@media (max-width: 700px) {
  .navbar-tab {
    display: flex;
  }
  
  
  /* Reposition .navbar ul for menu tab */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-links ul{
    position: absolute;
    right: 1.5rem;
    background: #333;
    width: 10rem;
    flex-direction: column;
    border-radius: 3px;
  }
  
  .navbar-links li {
    text-align: center;
  }
  
  .navbar-links li a{
    padding: .5rem 1rem;
  }
  
  
  
  .navbar-links.display-none  ul{
    display: none;
  }
  .navbar-links.active  ul{
    display: flex;
        animation: roll-out 500ms ease-in-out both
  }
  .navbar-links.roll-in  ul{
    animation: roll-in 500ms ease-in-out both;    
  }
}

  @media (min-width: 700px){
    #sectionh .content-title{
      font-size: 3rem;
    }

    #sectionh .content-text {
      font-size: 2rem;
    }
    
    #sectionh .grid {
      height: 100%;
      grid-template-areas:
      ". . . . . "
      ". . . . ."
      "c-title c-title c-title c-title ."
      ". . c-text c-text c-text"
      ". . . . ."
    }
  #section1{
    width: 88%;
    padding-top: 20px;
    height:90vh;
    background:rgba(1, 17, 13, 0.6);
  }
    
  #section1 article {
    box-shadow: none;
    border: none;
  }

  
    
    #section1 .gallery {
      background: none;
    }

    
    #section1 .grid {
      display: grid;
      grid-gap: 5px;
      background: none;
      border-top: none;
      height:100%;
      width:100%;
      margin: auto;
      grid-template-columns:repeat(6, 1fr) ;
      grid-template-rows:1fr minmax(150, 1fr) ;
      grid-template-areas:
      "p-text p-text p-text p-img p-img p-img"
      "  t-used t-used t-used  t-learn  t-learn t-learn "
     
     
      ;
    }

    #section1 .title-wrap {
      grid-area: title;
      display: flex;
      align-items: center;
      height: 60px;
    }
    
    #section1 .main-myimage {
      grid-area: p-img;
    }
    
    #section1 .main-myimage img {
      width: 200px;
    }
    
    #section1 .profile-text {
      grid-area: p-text;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #section1 .tech-used {
      grid-area: t-used;
      margin-right: 5px;
    }

    #section1 .tech-to-learn {
      grid-area: t-learn;       
    }

     #section1 .tech-to-learn, #section1 .tech-used {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      /* justify-content: space-between; */
      width: 100%;
      padding-bottom: 5px;
      background:rgba(90, 110, 119, 0.836)
     }

     #section1 .tech-to-learn img, #section1 .tech-used img {
      width: 100%;
     }

     #section1 .tech-icons {
       padding:0;
       
       margin: auto;
     }
     
     /* #section2 {
       background:rgba(34, 100, 84, 0.404);
     } */
    #section2 .grid {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-template-rows: repeat(auto-fit, 1fr);
    }
    .card {
      padding: 35px;
    }

    .card img {
      max-height: 300px;
    }

    .card-content p, .card-content h4{
      padding-top: 10px;
    }
    

    #section3 {
      width: 88%;
      padding: 30px;
      height:100vh;
    }

    #section3 .flex {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      width: 100%;
    }
   
    #section3 .image-wrap {
      z-index: 11;
    }

    #section3 .section-main-image {
     width: 400px;
     right: 10%;
  
    }

    #section3 .content-title {
      top: 100px;
      left:5%;
      font-size: 4rem;
      z-index: 20;
      animation: slide-in-up 500ms ease-in-out both;
    }
    
    #section4 .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    }
   #section5 .section-bg1, #section5 .section-bg2 {
     width: 70%;
     right:18%;
     margin :auto;
   }

   #section5 .content-text {
     left: 15%;
   }
    
  }
  

  
  
  
  